body{

}


#Titulo{
    color: red;
    
}
#texto{
    color: rgb(240, 217, 15);
    background-image: url(imagem_de_fundo/stock-video-blurry-city-traffic-lights-night.jfif);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: local;
}
.texto_roxo{
    color: purple;
}